<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      /*display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;*/
      margin: auto;
      gap: 50 px;
    }
    
    video {
      width: 80%;
      height: 80%;
      object-fit: cover;
      margin: 10px;
    }

    .myvideo{
        width: 40%;
        height:40%;
        border-radius: 25px;
    }

  </style>
</head>
<body>
  <div id="video-grid"></div><br/>
  <button id="video_button">Hide Video</button>
  <button id="audio_button">Mute</button>
</body>
</html>